*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

header{
    display: flex;
    height: 70px;
    background-color: rgb(0, 0, 0);
    justify-content: space-between;
    padding: 10px;
    box-shadow:  0px 5px 20px black;
    align-items: center;}

.menu{
    display: flex;
}

.menu > li > a{
    color: white;
    display: block;
    margin-left: 15px;
    text-decoration: none;
    padding: 10px 20px 10px 20px;}

.menu > li > a:hover{
    color: rgb(242, 155, 26);
    font-weight: bold;}

.logo{
    height: 85px;
    width: 85px;
    border-radius: 5px;
}

img{height: 100%;
    width: 100%;
margin-left: 10px;}

#principal{
    background-color: bisque;
    margin-top: 60px;
    height: 300px;
    width: 100%;
    border: 3px solid rgb(255, 255, 255);
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 10px;
 }

#op1{
    background-color: rgb(238, 157, 58);
    margin-left: 40px;
    height: 300px;
    width: 50%;
    float: left;
    border: 3px solid rgb(255, 255, 255);
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 10px;}

#op2{
    background-color: rgb(192, 71, 71);
    margin-left: 40px;
    height: 300px;
    width: 100%;
    border: 3px solid rgb(255, 255, 255);
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 10px;}

h3{
    text-align: justify;
    align-items: flex-end;
    margin-left: 20px;
}

main{
    max-width: 900px;
    min-width: 320px;
    margin: auto;
    padding: 20px;}

.log{
    height: 30px;
    width: 30px;
    display: inline-block;}

h1{
    margin-top: 80px;}

a{
    color: white;
}

.as1{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;}

.as1 > div > p{
    color: white;
}

.as1 > div{
    flex: 1 1 250px;
    background-color: rgb(3, 3, 40);
    height: 300px;
    margin: 10px;}

.as1 > h2{
    display: block;
}

footer{
    background: rgb(17, 16, 16);
    color: white;
    display: flex;
    min-height: 250px;}

.caixas{
    min-height: 150px;
    width: 320px;
    padding: 20px;}

footer.caixas:nth-child(4){
    width: 400px;}

.caixas > ul > li{
    margin: 10px 0px;}

.caixas > ul > li > p{
    text-align: center;}

.caixas > ul > li > p:hover{
    color: bisque;
    font-weight: bold;
    cursor: pointer;}

.caixas > ul > li > h2{
    color: burlywood;
    text-align: center;}

.caixas > ul > li > h3{
    text-align: justify;}

    section > ul{
        position: relative;
        transform: skewY(-10deg);
        margin-left: 35%;  
        margin-bottom: 120px; 
        margin-top: 60px;
    }
    
    section > ul > li{
        position: relative;
        list-style: none;
        width: 200px;
        background-color: rgb(50, 56, 56);
        padding: 15px;
        z-index: var(--i);
        transition: 0.5s;
    }
    
    section > ul > li::before{
        content: "";
        position: absolute;
        top: 0;
        left: -40px;
        width: 40px;
        height: 100%;
        background-color: rgb(50, 56, 56);
        transform-origin: right;
        transform: skewY(45deg);
        transition: 0.5s;
    }
    
    section > ul > li::after{
        content: "";
        position: absolute;
        top: -40px;
        left: 0;
        width: 100%;
        height: 40px;
        background-color: rgb(50, 56, 56);
        transform-origin: bottom;
        transform: skewX(45deg);
        transition: 0.5s;
    }
    
    section > ul > li:hover{
        background-color: rgb(251, 125, 57);
        transform: translateX(-50px);
        cursor: pointer;
    }
    
    section > ul > li:hover::before{
        background-color: rgb(251, 125, 57);
    }
    
    section > ul > li:hover::after{
        background-color: rgb(251, 125, 57);
    }
    
    section > ul > li > p{
        color: rgb(113, 108, 108);
        display: block;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        transition: 0.5s;
    }
    
    section > ul > li:hover > p{
        color: white;
    }
    

@media(max-width: 950px){
footer{
    flex-direction: column;}
.caixas{
    width: 100%;
    text-align: center;}
.caixas:nth-child(4){
    width: 100%;}
.caixas > ul > li > h3{
    text-align: center;
    margin-right: 30px;}
}

