body{
    background-color: var(--corpadrão);
    margin: 0px;
    padding: 0px;}

*{
    margin: 0px;
    padding: 0px;}

:root{
    --corpadrão:rgb(255, 255, 255);
    --coranuncio:#00A9DC;
    --bordacor:rgb(255, 193, 77);}

header{
    height: 30px;
    background-color: var(--coranuncio);}

marquee{
    color: var(--corpadrão);
    font-size: 28px;}

nav{
    background-color: black;
    padding: 10px;}

img{ 
    margin: auto;
    width: 100px;
    height: 40px;}

a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--coranuncio); 
    font-weight: bold;}  

nav > a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: var(--corpadrão);
    padding: 10px;}

nav > a:hover{
    color: rgb(50, 47, 47);
    background-color:white;
    border-radius: 4px;}

#logo{
    height: 100px;
    width: 170px; 
    display: block;
    cursor: pointer;
    margin: auto;}

div.teste{
    display: inline-block;
    background-color: var(--corpadrão);
    border: 2px solid black;
    text-align: center;
    height: 200px;
    width: 200px;
    margin-left: 10px;
    margin-top: 10px;}

div:hover{
    border-color: var(--bordacor);}

.produtos{
    height: 150px;
    width: 150px;}

div > p{
    display: none;}

div:hover > p{
    display: block;
    background-color: var(--bordacor);
    border: 2px solid var(--bordacor);
    margin: 12px;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    height: 18px;
    width: 200px;
    margin-left: -3px;}

main{
    max-width: 900px;
    min-width: 320px;
    margin: auto;
    padding: 20px;}

h2{
    color: var(--corpadrão);
    text-align: center;}

footer{
    background-image: linear-gradient(to top, rgb(68, 61, 61), rgb(29, 25, 25), rgb(0, 0, 0));
    padding: 100px;
    margin: auto;
    top: 700px;}

.video{
    background-color: blanchedalmond;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;}   

.video > iframe{
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
 
}






