body{
    background-color: var(--corpadrão);
    margin: 0px;
    padding: 0px;}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;}

:root{
    --corpadrão:rgb(255, 255, 255);
    --coranuncio:#00A9DC;
    --bordacor:rgb(255, 193, 77);}

header{
    height: 30px;
    background-color: var(--coranuncio);}

marquee{
    color: var(--corpadrão);
    font-size: 28px;}

img{ 
    margin: auto;
    width: 100px;
    height: 40px;}



nav{
    background-color: rgb(0, 0, 0);
    height: 80px;}

.logo{
    color: white;
    font-size: 30px;
    line-height: 80px;
    padding: 0 100px;}

nav > ul{
    float: right;
    margin-right: 20px;}

nav > ul > li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;}

nav > ul > li > a{
    color: rgb(255, 255, 255);
    font-size: 17px;
}

li > a::after{
    content: "";
    width: 0;
    height: 3px;
    background-color: rgb(235, 164, 23);
    margin: auto;
    display: block;}

li > a:hover::after{
    width: 100%;
    transition: 0.10s;
    margin-top: -20px;}    

li > a:hover{
    color:rgb(235, 164, 23);}

a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--coranuncio); 
    font-weight: bold;}  

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;}

#check{
    display: none;}

@media (max-width: 952px){
    .logo{
        font-size: 30px;
        padding-left: 50px;}
    nav > ul > li > a{
        font-size: 16px;}
}

@media (max-width: 858px){

    .checkbtn{
    display: block;}
    
    ul{position: fixed;
    width: 100%;
    height: 100vh;
    background: rgb(54, 51, 47);
    top: 110px;
    left: -100%;
    text-align: center;
    transition: all .5s;}

    nav > ul > li{
    display: block;
    margin: 50px 0;
    line-height: 30px;}

nav > ul > li > a{
    font-size: 20px;}

li > a:hover::after{
    width: 100%;
    transition: 0.10s;
    margin-top: 2px;} 

#check:checked ~ ul{
    left: 0;
}
}






div.teste{
    display: inline-block;
    background-color: var(--corpadrão);
    border: 2px solid black;
    text-align: center;
    height: 200px;
    width: 200px;
    margin-left: 10px;
    margin-top: 10px;}

div:hover{
    border-color: var(--bordacor);}

.produtos{
    height: 150px;
    width: 150px;}

div > p{
    display: none;}

div:hover > p{
    display: block;
    background-color: var(--bordacor);
    border: 2px solid var(--bordacor);
    margin: 12px;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    height: 18px;
    width: 200px;
    margin-left: -3px;
    font-size: 13px;}

main{
    max-width: 900px;
    min-width: 320px;
    margin: auto;
    padding: 20px;}

h2{
    color: var(--corpadrão);
    text-align: center;}

footer{
    background-image: linear-gradient(to top, rgb(68, 61, 61), rgb(29, 25, 25), rgb(0, 0, 0));
    padding: 100px;
    margin: auto;
    top: 700px;}







