*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}

body{
    background-color:rgb(255, 208, 215);
}

#painel{
    background-color: rgb(255, 101, 183);
    height: 30px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;}

#painel > h1{
    color: white;
    font-weight: bold;
    font-size: 25px;}

.header2{
    background: rgb(248, 192, 233);
    color: white;
    display: flex;
    height: 30px;}
    
.anuncio{
    height: 30px;
    width: 320px;
    border-right: 4px solid white;
    text-align: center;}
    
.header2.anuncio:nth-child(4){
    width: 400px;}


header{
    background-color: rgb(255, 255, 255);
    height: 350px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    max-width: 1200px;
    min-width: 320px;
    margin: auto;}

.borboleta{
    height: 50px;
    width: 60px;
    margin-right: 120px;
    transition: 2s ease-out;
    animation-iteration-count: infinite;}

.borboleta:hover{
    transform: translateY(-150px);
    transition: 1.5s ease-out;
    animation-iteration-count: infinite;
}

section > ul{
    position: relative;
    transform: skewY(-10deg);
    margin-left: 40%;  
    margin-bottom: 30px; 
    margin-top: 110px;}

section > ul > li{
    position: relative;
    list-style: none;
    width: 150px;
    background-color: rgb(50, 56, 56);
    padding: 15px;
    z-index: var(--i);
    transition: 0.5s;}

section > ul > li::before{
    content: "";
    position: absolute;
    top: 0;
    left: -40px;
    width: 40px;
    height: 100%;
    background-color: rgb(50, 56, 56);
    transform-origin: right;
    transform: skewY(45deg);
    transition: 0.5s;}

section > ul > li::after{
    content: "";
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: rgb(50, 56, 56);
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: 0.5s;}

section > ul > li:hover{
    background-color: lightpink;
    transform: translateX(-50px);
    cursor: pointer;}

section > ul > li:hover::before{
    background-color: lightpink;}

section > ul > li:hover::after{
    background-color: lightpink;}

section > ul > li > a{
    color: rgb(113, 108, 108);
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: 0.5s;}

section > ul > li:hover > a{
    color: rgb(255, 255, 255)}
    
main{
    max-width: 900px;
    min-width: 320px;
    margin: auto;
    padding: 20px;
    height: 300px;}




footer{
    background-color: black;
    color: lightcoral;
    display: flex;
    min-height: 250px;
}

.caixa{
    min-height: 150px;
    width: 320px;
    padding: 20px;
}

footer.caixas:nth-child(4){
    width: 400px;}

.caixa > ul > li{
    margin: 10px 0px;
    text-align: center;}
    
.caixa > ul > li > a{
        text-align: center;
    color: lightcoral;}
    
.caixa > ul > li > a:hover{
        color: bisque;
        font-weight: bold;
        cursor: pointer;}
    
.caixa > h2{
        color: rgb(247, 159, 206);
        text-align: center;}


@media(max-width: 950px){
    footer{
    flex-direction: column;}
    .caixa{
    width: 100%;
    text-align: center;}
    .caixa:nth-child(4){
    width: 100%;}
    section > ul > li{
        width: 80px;
        
    }}